@font-face {
    font-family: 'tiny';
    src: url("./Assets/Fonts/slkscr.ttf");
}
.hiddenText {
font-family: 'tiny';
visibility: hidden;
}

html, body {
  margin: 0;
  background: rgb(0, 28, 83);
}
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}
p{
  font-family: 'tiny';
  color: white;
}
